.overlay{
 background-image: url('../../public/images/wall-wallpaper-concrete-colored-painted-textured-concept_53876-144339.jpg');
 background-size:cover;
 background-repeat: no-repeat;
padding: 50px;
}

.svg-fill{
    fill: white !important;
}
