.alin{  
    border:1px solid #938BA1;
     

    padding: 5px 20px;
    align-items: center;
}
p{
    color: black;
}

.alin .profile-svg{

}
.alin .types p{
margin-bottom: 0;

}
.alin .types p a{
    color: #938BA1;
margin: 0 23px;
text-decoration: none;
text-transform: uppercase;
font-size: 20px;
}
.alin .checkout-div p{
    margin-bottom: 0;
    color: #938BA1;
    
text-transform: uppercase;
font-size: 20px;
}